<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <title>Planet Index Page</title>
</head>
<body>
    <h1>Welcome to Exobiology I!</h1>
    <a href="/planets/new" class="button">Create a new planet</a>
</body>
</html>