<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <title>New Planet Page</title>
</head>
<body>
    <h1>Add A New Scientist</h1>
    <form action="/planets" method="POST">
        <input type="text" placeholder="Name" name="name" class="margin"><br>
        <input type="text" placeholder="Description" name="description" class="margin"><br>
        <input type="submit" value="Add New Scientist" class="margin">
    </form>
    <div class="home-page-button">
        <a href="/planets" class="button margin">Home Page</a>
    </div>
</body>
</html>