.button {
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #436efd;
    padding: 5px 10px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    margin-bottom: 10px;
  }